<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New Event</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new Event</h1>
    
    <form action="#" th:action="@{/events/new}" th:object="${event}" method="post">
      <div class="form-group mb-3">
     	<!-- Hidden form that stores id -->
      	<input class="form-control" type="hidden" id="id" th:field="*{id}" autofocus="autofocus" />
      	
        <label for="title" class="mb-2">Title</label>
        <input class="form-control" type="text" id="title" th:field="*{title}" placeholder="Enter event title" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{name}">errors</p>
      </div>
      <div class="form-group mb-3">
        <label for="name" class="mb-2">Event Image</label>
        <input class="form-control" type="file" id="imgFile" name="imgFile">
      </div>
      <div class="form-group mb-3">
        <label for="name" class="mb-2">Event content</label>
        <textarea class="form-control mb-3" type="text" id="content" th:field="*{content}" rows="5" placeholder="Enter event content" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">errors</p>
      </div>
      
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>