<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}"
>
  <head>
    <title>Membership Register</title>
    <style>
	  .money-checkbox-label {
	    font-size: 18px; 
	    color: #333; 
	    background-color: #f8f8f8; 
	    padding: 10px; 
	    border-radius: 5px; 
	    display: inline-block; 
	  }
	
	  .highlighted-text {
	    font-weight: bold; 
	    color: #ff5733;
	  }
	</style>
  </head>
  
  <body>
  <div layout:fragment="content">
  <h1>Membership Registration111</h1>
  </div>
    <div sec:authorize="hasAnyAuthority('USER', 'ADMIN')" layout:fragment="content">
    <h1>Membership Registration222</h1>
      <form th:action="@{/membership}"  action="#" method="post" th:object="${membershipRegistrationEntity}">
        <h1>Membership Registration333</h1>

        <div class="form-group mb-3">
          <label for="firstName">First Name:</label>
          <input
            type="text"
            name="firstName"
            id="firstName"
            th:field="*{firstName}"
            th:value="${firstName}"
            autofocus hidden
          />
          <span
          class="form-control"
          type="text"
          name="firstName"
          id="firstName"
          th:text="*{firstName}"
          ></span>
        </div>

        <div class="form-group mb-3">
          <label for="lastName">Last Name:</label>
          <input
          type="text"
          name="lastName"
          id="lastName"
          th:field="*{lastName}"
          th:value="${lastName}"
          autofocus hidden
        />
          <span
            class="form-control"
            type="text"
            name="lastName"
            id="lastName"
            th:text="*{lastName}"
          ></span>
        </div>

        <div class="form-group mb-3">
          <label for="userName">Username (Student ID):</label>
          <input
          type="text"
          name="userName"
          id="userName"
          th:field="*{userName}"
          th:value="${userName}"
          autofocus hidden
        />
          <span
            class="form-control"
            type="text"
            name="userName"
            id="userName"
            th:text="*{userName}"
          ></span>
        </div>

        <div class="form-group mb-3">
          <label for="membershipCheckbox">Membership Enrolment Check:</label>
          <input
            type="checkbox"
            name="membershipCheckbox"
            id="membershipCheckbox"
            th:field="*{membershipCheckbox}"
            th:value="${membershipCheckbox}"
            autofocus
          />
        </div>
        <div class="money-checkbox-label" for="moneyCheckbox">
	  	Please bank transfer to: 
	  	<span class="highlighted-text">
	    	Name: Been Kwon | Sort Code: 04-00-03 | Account Number: 42437050
	    </span>
		</div>

        <button class="btn btn-primary" type="submit">
          <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Submit
        </button>
        <a class="btn btn-warning" role="button" href="/"
          ><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a
        >

      </form>
    </div>
     <div sec:authorize="hasAnyAuthority('MEMBER')" layout:fragment="content">
	    <h3> You seem to already have a membership! </h3>
	    <h3> Please log out and log back in again to update your status. </h3>
	    <a class="btn btn-warning" role="button" href="/"
          ><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a
        >
    </div>
  </body>
  
</html>